.about-box{
  width: 100vw;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.sectionTitle {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top;
  font-size: 2.0em;
  letter-spacing: 15px;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  top: 20%;
  left: 5%;
  color: #545E75;
  /* background-color: #d4aeb1; */
  text-shadow: 3px 3px #f9f9f9;
}
.content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.about_me {
  /* width: 75%; */
  /* display: flex;
  justify-content: center; */
  width: 75%;
  height: 60%;
  background-color: blue;
  position: relative;
}
.about_me div {
  margin: 10px 25px;
}
.photo {
  width: 100%;
  height: auto;
  /* position: absolute;
  left: 0%; */
}
.photo img {
  max-height: auto;
  max-width: 35vw;
  border: 15px #545E75 solid;
  position: absolute;
  left: 0%;
}
.blurb {
  font-size: .8em;
  width: 30%;
  height: 30%;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  background-color: pink;
  position: absolute;
  top: 0%;
  right: 10%;
}
.tech {
  font-family: athelas, georgia, serif;
}
.tech p {
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.1em;
}
.language_bubble {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  max-width: 500px;
  margin: auto;
}
.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: #d4aeb1 dotted 3px;
  font-size: .7em;
  line-height: 110px;
  text-align: center;
/*    background: #d4aeb1;*/
  color: #545E75;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-family: athelas, georgia, serif;
}
.skills {
  display: flex;
  text-align: left;
}
.skills ul {
  margin-left: 70px;
  margin-right: 70px;
}
.skills li {
  color: #545E75;
  padding-bottom: 4px;
}
