.nav-box {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height: 8vh;
  font-family: athelas, georgia, serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin: 0px;
  padding: 0px;
  background-color: white;
  box-shadow: 0 3px 5px -2px #d8d8d8;
}
.nav-link{
  margin: 10px;
  position: relative;
  color: #d4aeb1;
  text-decoration: none;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 40%;
  height: 3px;
  background-color: #545E75;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transform-origin: center left;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    nav {
      font-size: 1.2em;
    }
    .nav-link:before {
      height: 1px;
    }
}
